<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarttrain.smarttrain" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name=".TrackActivity"
            android:label="@string/title_activity_track" >
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/title_activity_progress" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".CreateExercise"
            android:label="@string/title_activity_create_exercise"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TrackExerciseLengthView"
            android:label="@string/title_activity_track_exercise_length_view" >
        </activity>
        <activity
            android:name=".TrackExerciseSets"
            android:label="@string/title_activity_track_exercise_sets" >
        </activity>
        <activity
            android:name=".ViewType"
            android:label="@string/title_activity_list_view_type" >
        </activity>
        <activity
            android:name=".ViewLength"
            android:label="@string/title_activity_list_view_length" >
        </activity>
        <activity
            android:name=".ViewRepetition"
            android:label="@string/title_activity_view_repetition" >
        </activity>
        <activity
            android:name=".ViewExerciseList"
            android:label="@string/title_activity_view_exercise_list" >
        </activity>
        <activity
            android:name=".Test.TestingGUI"
            android:label="@string/title_activity_testing_gui" >
        </activity>
        <activity
            android:name=".CreateWorkout"
            android:label="@string/title_activity_create_workout"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".AddExerciseTo"
            android:label="@string/title_activity_add_exercise_to" >
        </activity>
        <activity
            android:name=".PlanSetExercise"
            android:label="@string/title_activity_plan_set_exercise" >
        </activity>
        <activity
            android:name=".PlanLengthExercise"
            android:label="@string/title_activity_plan_length_exercise"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
